{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>myPOV</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class='navbar'>
        <ul>
          <li>
            <a href="{% url 'home' %}">
              <h3 class='logo'>myPOV</h3>
            </a>
          </li>
        </ul>
      </div>
      <div class='navbar'>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'explore' %}">explore</a></li>
            <li><a href="{% url 'pov-index' %}">myPOVs</a></li>
            <li><a href="{% url 'create-post' %}">create</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
              </form>
            </li>
            {% else %}
            <li><a href="{% url 'explore' %}">explore</a></li>
            <li><a href="{% url 'home' %}">login</a></li>
            <li><a href="{% url 'signup' %}">register</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
