{% extends 'base.html' %} {% block content %}
<h1>Recent POVs</h1>
<hr />
<section class="card-container">
  {% for pov in povs %}
  <div class="card">
    <a href="{% url 'pov-detail' pov.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="https://robohash.org/set_set4/bgset_bg1/RandomParams?size=250x250" alt="{{ pov.title }}" />
        </div>
        <h2 class="card-title">{{ pov.title }}</h2>
        <p class="card-description">{{ pov.description }}</p>
        <p>By: {{ pov.user }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
